@media screen and (max-width: 992px) {
  /* Responsive Galeri */
  .hero-tagline h1 {
    font-size: 48px;
    margin-top: 40%;
  }

  .hero-tagline p {
    font-size: 18px;
    width: 80%;
  }

  .icon-galeri2 {
    width: 100%;
    height: auto;
  }

  .col-12 h2 {
    font-size: 48px;
    margin-bottom: -30px;
  }

  .col-12 span {
    font-size: 20px;
  }

  .card-galeri h3 {
    font-size: 22px;
    margin-top: 20px;
  }

  .card-galeri p {
    font-size: 14px;
  }

  .card-galeri img {
    height: 280px;
    margin-top: 60px;
  }

  .galeri .col-4 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Responsive kontak */
  .hero-tagline-kontak {
    transform: translateY(-20%);
  }

  .hero-tagline-kontak h1 {
    font-size: 48px;
  }

  .hero-tagline-kontak p {
    font-size: 18px;
    width: 80%;
  }

  .icon-kontak3 {
    width: 450px;
    height: auto;
    margin-left: 0px;
    transform: translateY(-50%);
  }

  /* Responsive Footer */
  footer {
    padding: 40px 50px;
  }

  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  footer .container .sec p {
    width: 90%;
    font-size: 18px;
  }

  footer .container .sec h5 {
    font-size: 20px;
  }

  .copyright {
    padding: 15px 50px;
  }
}

@media screen and (max-width: 768px) {
  /* Responsive galeri */
  .hero-tagline h1 {
    font-size: 32px;
    margin-top: 20%;
  }

  .hero-tagline p {
    font-size: 16px;
    width: 90%;
  }

  .icon-galeri2 {
    width: 100%;
    height: auto;
    margin-top: -50px;
    margin-left: 0;
  }

  .judul {
    font-size: 40px;
    margin-bottom: -20px;
  }

  .sub-judul {
    font-size: 18px;
  }

  .card-galeri h3 {
    font-size: 20px;
    margin-top: 16px;
  }

  .card-galeri p {
    font-size: 14px;
    width: 100%;
  }

  .card-galeri img {
    height: 240px;
    margin-top: 30px;
  }

  .galeri .col-4 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* Responsive Kontak */
  .hero-tagline-kontak {
    text-align: center;
    transform: translateY(-50%);
  }

  .hero-tagline-kontak h1 {
    font-size: 28px;
  }

  .hero-tagline-kontak p {
    font-size: 16px;
    width: 90%;
    margin: 0 auto 40px auto;
  }

  .icon-kontak3 {
    width: 350px;
    height: auto;
    transform: translateY(-30%);
    margin-left: auto;
    margin-right: auto;
  }

  /* Responsive footer */
  footer {
    padding: 30px 30px;
  }

  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  footer .container .sec p {
    width: 100%;
    font-size: 16px;
  }

  footer .container .sec h5 {
    font-size: 18px;
  }

  .copyright {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 576px) {
  /* Responsive galeri */
  .hero-tagline {
    text-align: center;
  }

  .hero-tagline h1 {
    font-size: 28px;
  }

  .hero-tagline p {
    font-size: 14px;
    width: 100%;
  }

  .icon-galeri2 {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .judul {
    font-size: 32px;
    margin-bottom: -10px;
  }

  .sub-judul {
    font-size: 16px;
  }

  .card-galeri h3 {
    font-size: 18px;
    margin-top: 12px;
  }

  .card-galeri p {
    font-size: 12px;
  }

  .card-galeri img {
    height: 200px;
    margin-top: 20px;
  }

  .galeri .col-4 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  /* Responsive Kontak */
  .hero-tagline-kontak {
    text-align: center;
    margin-top: 20px;
    transform: translateY(70%);
  }

  .hero-tagline-kontak h1 {
    font-size: 28px;
  }

  .hero-tagline-kontak p {
    font-size: 14px;
    width: 100%;
  }

  .icon-kontak3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
  }

  .icon-kontak2 {
    display: none; /* Menghilangkan layer background untuk layar kecil*/
  }

  .icon-kontak3 {
    width: 100%;
    height: auto;
    transform: translateY(0);
    margin-left: 0;
  }

  /* Responsive footer */
  footer {
    padding: 20px 20px;
  }

  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  footer .container .sec p {
    width: 100%;
    font-size: 14px;
  }

  footer .container .sec h5 {
    font-size: 16px;
  }

  .copyright {
    padding: 10px 20px;
  }
}
