@media screen and (max-width: 992px) {
  /* Navbar */

  /* .sidebar {
    background-color: linear-gradient(to right, #734192, #9b309d);
  } */

  /* Responsive Galeri */
  .hero-tagline h1 {
    font-size: 48px;
    margin-top: 40%;
  }

  .hero-tagline p {
    font-size: 18px;
    width: 80%;
  }

  .galeri {
    margin-top: -60px;
  }

  .icon-galeri2 {
    width: 100%;
    height: auto;
  }

  /* Responsive kontak */
  .hero-tagline-kontak h1 {
    font-size: 48px;
  }

  .hero-tagline-kontak p {
    font-size: 18px;
    width: 80%;
  }

  .icon-kontak3 {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

  .kontak {
    margin-top: -30px;
  }

  /* Responsive Footer */
  footer {
    padding: 40px 50px;
  }

  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  footer .container .sec p {
    width: 90%;
    font-size: 18px;
  }

  footer .container .sec h5 {
    font-size: 20px;
  }

  .copyright {
    padding: 15px 50px;
  }
}

@media screen and (max-width: 768px) {
  /* Responsive galeri */
  .hero {
    height: auto;
  }

  .hero-tagline h1 {
    font-size: 32px;
    margin-top: 20%;
  }

  .hero-tagline p {
    font-size: 16px;
    width: 90%;
  }

  .icon-galeri2 {
    width: 80%;
    height: auto;
    margin-top: -50px;
    /* margin-bottom: 0; */
    margin-left: 0;
  }

  .galeri {
    padding: 250px 50px 0 50px;
  }

  .judul {
    font-size: 40px;
    margin-bottom: -20px;
  }

  .sub-judul {
    font-size: 18px;
  }

  /* Responsive Kontak */
  .hero-tagline-kontak h1 {
    font-size: 28px;
    margin-top: 30px;
  }

  .hero-tagline-kontak p {
    font-size: 16px;
    width: 90%;
  }

  .icon-kontak3 {
    width: 80%;
    height: auto;
    transform: translateY(-30%);
    margin-left: auto;
    margin-right: auto;
  }

  .kontak {
    margin-top: 50px;
  }

  /* Responsive footer */
  footer {
    padding: 30px 30px;
  }

  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  footer .container .sec p {
    width: 100%;
    font-size: 16px;
  }

  footer .container .sec h5 {
    font-size: 18px;
  }

  .copyright {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 576px) {
  /* Responsive galeri */
  .hero-tagline {
    text-align: center;
  }

  .hero-tagline h1 {
    font-size: 28px;
  }

  .hero-tagline p {
    font-size: 14px;
    width: 100%;
  }

  .icon-galeri2 {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .judul {
    font-size: 25px;
    margin-bottom: -10px;
  }

  .sub-judul {
    font-size: 14px;
  }

  .kontak-item a {
    font-size: 14px;
  }

  .icon-kontak img {
    width: 30px;
    height: 30px;
  }

  .galeri {
    padding: 100px 30px 0 30px;
  }

  /* Responsive Kontak */
  .hero-tagline-kontak {
    text-align: center;
  }

  .hero-tagline-kontak h1 {
    font-size: 28px;
    margin-top: 10px;
  }

  .hero-tagline-kontak p {
    font-size: 14px;
    width: 100%;
  }

  .icon-kontak2 {
    display: none; /* Menghilangkan layer background untuk layar kecil*/
  }

  .icon-kontak3 {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .kontak {
    margin-top: -50px;
  }

  /* Responsive footer */
  footer {
    padding: 20px 20px;
  }

  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  footer .container .sec p {
    width: 100%;
    font-size: 14px;
  }

  footer .container .sec h5 {
    font-size: 16px;
  }

  .copyright {
    padding: 10px 20px;
  }
}
