@import url("https://fonts.googleapis.com/css?family=Poppins");

/* NAVBAR */
.navbar {
    z-index: 3;
  }
  
  .nav-link {
    font-size: 16px;
    font-weight: 300;
    color: #ffff;
    position: relative;
  }
  
  .nav-link.active {
    color: #ffff;
    font-weight: bold;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #ffff;
    font-weight: bold;
  }
  
  .nav-link:hover::before,
  .nav-link.nav-link.active::before {
    width: 50%;
    visibility: visible;
  }
  
  .nav-color {
    transition: all ease-in-out 0.3s;
    background: linear-gradient(to right, #734192, #9b309d);
  }
  
  .bg-transparent {
    transition: all ease-in-out 0.3s;
  }
  
  .button-primary {
    padding: 5px 20px 5px 20px;
    font-size: 16;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: #ffff;
    cursor: pointer;
    border: 1px solid #ffff;
    border-radius: 16px;
    position: relative;
  }
  
  .button-primary::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    filter: blur(1px);
  }
  
  .button-primary:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
  }

/* footer */

footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fafafa;
  color: #2e334e;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

footer .container .sec p {
  width: 70%;
  color: #2e334e;
  font-size: 20px;
  margin-top: 24px;
}

footer .container .sec h5 {
  position: relative;
  font-weight: 600;
  color: #1c2661;
}

.sec ul {
  list-style: none;
  padding: 0;
}

.sec ul li {
  margin-bottom: 10px;
}

.sec ul li a {
  text-decoration: none;
  color: #404040;
  display: flex;
  align-items: center;
}

ul li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

footer .container .sec p {
  margin-top: 30px;
  font-size: 15px;
}

.copyright {
  width: 100%;
  padding: 20px 100px;
  text-align: center;
  color: #404040;
  border-top: 1px solid #aaaaaa;
}

/* Background gambar */
.background-image .bgimage {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: -10%;
    left: 0%;
    z-index: -1;
}

.vector1 {
    position: absolute; /* Position absolute to place over the background */
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 50%;
    transform: none;
}

/* (Artikel) content 1 */

.content1{
    position: relative;
    z-index: 2;
    padding: 0px 70px;
  }

.content1 .row{
    height: auto;
    padding-left: 40px;
    display: flex;
}

.content1 .col .kartun1{
    position: absolute;
    display: flex;
}

.content1 .col-5{
    margin-top: 200px;
}

img.kartun1{
    max-width: 550px;
    margin-left: 20px;
    transform: translateY(25%);
}

.content1 h2{
    margin-top: 40px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}

.content1 p{
    font-size: 18px;
    color:#ffffff;
    margin-top:30px;
}

/* content2 */

.content2 .row{
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.content2 .image img{
    max-width: 100%;
    max-height: 100%;
}

.tanggal {
  background-color: #AE39FF; /* Warna latar belakang */
  color: #ffffff; /* Warna teks */
  font-family: Poppins, sans-serif; /* Font */
  font-size: 14px; /* Ukuran font */
  padding: 5px 20px; /* Spasi di dalam elemen */
  border-radius: 50px; /* Sudut melengkung */
  text-decoration: none; /* Hapus garis bawah */
  display: inline-block; /* Agar padding dan border radius bekerja dengan baik */
  border: 1px solid #AE39FF; /* Border yang sama dengan warna latar belakang */
}

.content2 h3{
    margin-top: 5px;
    color: #1C2661;
    font-weight: bold;
}

.content2 .text{
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: justify;
    font-size: 18px;
}

.content2 .penulis{
    font-size: 15px;
    margin-bottom: 0px;
}

.content2 .readmore{
    margin-top: 0px;
    text-decoration: none;
    color: rgb(96, 192, 255);
    font-weight: bold;
}

.content2 .readmore:hover{
    color: rgb(88, 178, 238);
}

/* content3 */

.content14 .row{
    margin-top: 50px;
    padding-top: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    line-gap-override: 10px;
}

.content14 .gambar3{
    padding-left: 80px;
    padding-right: 80px;
}

.content14 .card{
  padding: 15px; /* Atur padding agar konten tidak keluar dari card */
  margin-bottom: 20px;
  margin-bottom: 30px; /* Jarak antar card */
  box-sizing: border-box; 
    border-radius: 7%;
    border: none;
    background: #ffffff;
}

.content14 .card-body{
    position: relative;
    padding-left: 0px;
    padding-right: 0;
    max-height: 150px;
}

.card-img-top{
    max-height: 406px;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.content14 .card a{
    text-decoration: none;
}

.content14 .card-body h4{
    margin-top: 15px;
    font-family: Poppins;
    font-size: 18px;
    color: #1C2661;
    font-weight: 950;
}

.content14 .card-body p .text{
    font-family: Poppins;
    margin-top: 5px;
    font-size: 16px;
    color: #1C2661;
    text-align: justify;
}

.content14 .readmore{
    margin-top: 0px;
    text-decoration: none;
    color: rgb(96, 192, 255);
    font-weight: bold;
    display: block;
}

.content14 .readmore:hover{
    color: rgb(88, 178, 238);
}

.content14 .readmore1{
  margin-top: 0px;
  text-decoration: none;
  color: rgb(96, 192, 255);
  font-weight: bold;
  display: block;
}

.content14 .readmore1:hover{
  color: rgb(88, 178, 238);
}

.tanggal-card {
    display: block;
    background-color: #AE39FF;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center; /* Memusatkan teks tanggal */
    position: absolute;
    bottom: 0; /* Menempel pada bagian bawah card */
    left: 50%;
    transform: translateX(-50%) translateY(-400%);
    width: auto;
}

/* readmore */
/* CSS untuk mengatur ukuran gambar di content4 */
.content4 .row {
    display: grid;
    margin-top: 0px;
    place-items: center; /* Pusatkan gambar secara horizontal dan vertikal */ /* Pusatkan gambar di dalam container */
}

.content4 img {
    margin-top: 150px;
    width: 85%; /* Lebar gambar 75% dari lebar container */
    height: auto; /* Menjaga rasio aspek gambar */
    max-width: 100%; /* Memastikan gambar tidak melebihi lebar container */
}

.content5 .row{
    padding-top: 30px;
    padding-inline: 100px;
}

.content5 .tanggal {
    position: relative;
    background-color: #AE39FF;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    padding: 7px 25px;
    border-radius: 50px;
}

.content5 h2{
    margin-top: 15px;
    color: #1C2661;
    font-weight: bold;
}

.content5 .penulis{
    color: #3A3B41;
    font-size: 16px;
}

.content5 p{
    margin-top: 5px;
    color: #3A3B41;
    font-size: 20px;
    text-align: justify;
}