@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

.card {
  border: none;
  background-color: transparent;
}

/* navbar */
.navbar {
  z-index: 4;
}

.nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #ffff;
  position: relative;
}

.nav-link.active {
  color: #ffff;
  font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
  color: #ffff;
  font-weight: bold;
}

.nav-link:hover::before,
.nav-link.nav-link.active::before {
  width: 50%;
  visibility: visible;
}

.nav-color {
  transition: all ease-in-out 0.3s;
  background: linear-gradient(to right, #734192, #9b309d);
}

.bg-transparent {
  transition: all ease-in-out 0.3s;
}

.navbar {
  z-index: 4;
}
/* 
.navbar.nav-color {
  background: linear-gradient(to right, #734192, #9B309D);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.navbar.bg-transparent {
  transition: all ease-out 0.01s;
}

.navbar .nav-item .nav-link {
  color: white;
  font-weight: 300;
} */

.navbar .button {
  font-weight: bold;
}

.navbar ul li a:hover {
  font-weight: bold;
}

.navbar .nav-link.active {
  font-weight: bold;
}

/* hero */
#hero .container {
  height: 654.54px;
  display: flex;
}

#hero .row {
  align-items: center;
  z-index: 3;
  margin: 0;
}

#hero .title-hero {
  color: white;
  margin-top: 10%;
}

#hero .title-hero h1 {
  font-weight: bold;
  line-height: 60px;
  font-size: 40px;
  text-align: justify;
  padding-right: 120px;
}

#hero .title-hero p {
  font-weight: 400;
  text-align: justify;
  padding-right: 120px;
  font-size: 18px;
}

#hero .title-hero button {
  background-color: #AE39FF;
  border: none;
  font-size: 14px;
}

#hero .row .img img {
  width: 800px;
  z-index: 3;
  transform: translateX(-45%) translateY(-45%);
  position: absolute;

}

/* hero tentang */

#hero-tentang .container {
  display: flex;
}

#hero-tentang .row {
  align-items: center;
  z-index: 3;
}

#hero-tentang .title-hero {
  color: white;
  padding-left: 1rem;
}

#hero-tentang .title-hero h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 76.38px;
  text-align: left;
}

#hero-tentang .title-hero p {
  font-weight: 400;
  font-size: 18px;
}

#hero-tentang .row .img img {
  z-index: 3;
  width: 100%;
  transform: translateY(25%);
}

/* wave */
.wave1 {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.wave2 {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.wave3 {
  transform: translateY(55%);
}

.wave4 {
  transform: translateY(-40%);
}

.wave7 {
  z-index: 0;
  position: absolute;
  width: 100%;
}

/* keunggulan */
#keunggulan {
  margin-top: 12rem;
  padding: 50px 75px;
  position: relative;
}

.header-keunggulan h1 {
  padding-bottom: 20px;
  font-weight: 700;
}

.header-keunggulan h5 {
  color: #AE39FF;
}

.card-script h5 {
  color: #2E334E;
  padding-right: 7rem;
  font-weight: 600;
  text-align: start;
  width: 100%;
}

.card-script p {
  color: #A3A6A6;
  font-size: 15px;
  width: 100%;
  text-align: justify;
}

/* hero-2 */
#hero-2 {
  height: 100%;
  margin-bottom: 100px;
  padding: 100px 0;
  align-items: center;
  position: relative;
}

#hero-2 .hero-right {
  padding: 100px;
}

.hero-right h1 {
  padding-bottom: 20px;
  font-weight: 700;
  color: #1C2661;
}

.hero-right p {
  color: #1C2661;
  font-weight: 400;
  text-align: justify;
}

.hero-right button {
  margin-top: 2rem;
  background-color: #AE39FF;
  margin: 0;
  padding: 8px 1rem;
  font-size: 14px;
  font-weight: 400;
}

.hero-left {
  position: relative;
  justify-content: center;
}

.hero-left img {
  width: 95%;
}

.hero-left .img1-2 {
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 5%;
  justify-content: center;
}

/* doc-home */
#doc-home {
  padding: 50px 100px;
  position: relative;
  background-color: #E9EFFF;
}

#doc-home h5 {
  color: #AE39FF;
  padding-top: 3rem;
}

.title-doc {
  display: flex;
  justify-content: space-between;
}

.title-doc h1 {
  margin: 0;
  font-weight: 700;
}

.title-doc strong {
  background-color: #F2B828;
  align-items: center;
  width:fit-content;
padding: 12px;

}

.doc {
  display: flex;
}

.doc .card {
  width: 100%;
  background: transparent;
  border: none;
}

#doc-home .card h5 {
  color: #19245F;
  font-weight: 600;
  padding-top: 1rem;
}

#doc-home .card p {
  color: #2E334E;
  font-weight: 400;
}

.doc .card-body {
  margin: 0;
  padding: 24px 0px 0px 0px;
}

.doc img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 24px;
}

/* article-home */
#article-home {
  margin: 100px 0px;
  padding: 50px 100px;
  position: relative;
}

#article-home h1,
#article-home h5 {
  text-align: center;
}

#article-home h1 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 56px;
}

#article-home h5 {
  color: #4FACF6;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}

.card-article {
  display: flex;
  justify-content: space-between;
}

.card-article .card {
  width: 100%;
  background: transparent;
  border: none;
  height: 445px;
}

#article-home .card h5 {
  color: #19245F;
  font-weight: 600;
  padding-top: 0;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

#article-home .card p {
  color: #2E334E;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.card-article .card-body {
  margin: 0;
  padding: 0;
}

.card-article .card-body a.btn {
  background-color: #AE39FF;
  transform: translateY(-50%);
  font-size: 16px;
}

.card-article img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

/* Tentang: Profil */
#profile {
  position: relative;
  margin-top: 12rem;
}

#profile h1 {
  padding-bottom: 8px;
  color: #19245F;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;

}

#profile h5 {
  color: #4FACF6;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;

}

#profile p {
  font-weight: 400;
  color: #3A3B41;
  text-align: justify;
  line-height: 42px;

}

/* tentang: keunggulan */
#keunggulan-tentang {
  padding: 50px 75px;
  position: relative;
  margin-top: 8rem;
}

#keunggulan-tentang .header-keunggulan {
  text-align: center;
}

.sec-keunggulan img {
  width: 50px;
  height: 50px;
}

/* tentang: civitas */
#civitas {
  margin: 100px 0;
  position: relative;
  background-color: #E9EFFF;
  justify-content: center;
}

#civitas h5 {
  color: #AE39FF;
  padding-top: 3rem;
  font-weight: 500;
  line-height: 36px;
}

.title-civitas {
  display: flex;
  justify-content: space-between;
}

.title-civitas h1 {
  margin: 0;
  font-weight: 700;
  color: #19245F;
  letter-spacing: 0.03em;
  text-align: left;
}

.title-civitas strong {
  background-color: #F2B828;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}

.card-guru {
  display: flex;
}

.card-guru .card {
  background: transparent;
  border: none;
}

#civitas .card h5 {
  color: #19245F;
  font-weight: 600;
  padding-top: 0;
}

#civitas .card p {
  color: #2E334E;
  font-weight: 400;
  font-weight: 400;
  line-height: 24px;
}

.card-guru .card-body {
  margin: 0;
  padding-left: 0;
}

.card-guru img {
  width: 100%;
  height: 356px;
  object-fit: cover;
  border-radius: 24px;
}

/* video profil */
#video-profil {
  margin-bottom: 100px;
}

.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-video {
  padding: 25px 100px;
}

.title-video h1 {
  color: #19245F;
  text-align: center;
  font-weight: 700;
}

.title-video h5 {
  color: #4FACF6;
  text-align: center;
  font-weight: 400;
}

video {
  padding: 0px 100px;
  width: 100%;
  border-radius: 24px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fafafa;
  color: #2e334e;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

footer .container .sec p {
  width: 70%;
  color: #2e334e;
  font-size: 20px;
  margin-top: 24px;
  font-weight: 400;
}

footer .container .sec h5 {
  position: relative;
  font-weight: 600;
  color: #1c2661;
}

.sec ul {
  list-style: none;
  padding: 0;
}

.sec ul li {
  margin-bottom: 10px;
}

.sec ul li a {
  text-decoration: none;
  color: #404040;
  display: flex;
  align-items: center;
}

ul li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

footer .container .sec p {
  margin-top: 30px;
  font-size: 15px;
}

.copyright {
  width: 100%;
  padding: 20px 100px;
  text-align: center;
  color: #404040;
  border-top: 1px solid #aaaaaa;
  background-color: #fafafa;
}