body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
}

/* Styling navbar */
.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #ffff;
  position: relative;
}

.nav-link.active {
  color: #ffff;
  font-weight: bold;
}

.nav-link:hover,
.nav-link.active {
  color: #ffff;
  font-weight: bold;
}

.nav-link:hover::before,
.nav-link.nav-link.active::before {
  width: 50%;
  visibility: visible;
}

.nav-color {
  transition: all ease-in-out 0.3s;
  background: linear-gradient(to right, #734192, #9b309d);
}

.bg-transparent {
  transition: all ease-in-out 0.3s;
}

.button-primary {
  padding: 5px 20px 5px 20px;
  font-size: 16;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #ffff;
  cursor: pointer;
  border: 1px solid #ffff;
  border-radius: 16px;
  position: relative;
}

.button-primary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  filter: blur(1px);
}

.button-primary:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Styling Page Galeri */
.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Memastikan section hero menggunakan tinggi penuh viewport */
  overflow: hidden;
}

.hero-bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-tagline h1 {
  color: #ffff;
  font-weight: 700;
  font-size: 38px;
  margin-top: 40%;
}

.hero-tagline p {
  color: #ffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 16px;
  width: 70%;
}

.icon-galeri1 {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.icon-galeri2 {
  width: 550px;
  height: 600px;
  margin-left: -20px;
  transform: translateY(2%);
}

.galeri {
  margin-top: 50px;
}

.judul {
  font-size: 40px;
  font-weight: 700;
  color: #19245f;
  margin-bottom: 2px;
}

.sub-judul {
  font-size: 20px;
  font-weight: 400;
  color: #4facf6;
  margin-top: 80px;
}

.card-galeri h3 {
  font-size: 24px;
  font-weight: 600;
  color: #19245f;
  margin-top: 16px;
}

.card-galeri p {
  font-size: 16px;
  font-weight: 300;
  color: #2e334e;
  margin-top: 4px;
  width: 100%;
}

.card-galeri img {
  border-radius: 24px;
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 0;
}

/* Style Kontak */
.hero-tagline-kontak {
  transform: translateY(-30%);
}

.hero-tagline-kontak h1 {
  color: #ffff;
  font-weight: 700;
  font-size: 38px;
}

.hero-tagline-kontak p {
  color: #ffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 16px;
  width: 70%;
}

.icon-kontak2 {
  z-index: 0;
  margin-left: 0px;
  width: 100%;
}

.icon-kontak3 {
  width: 550px;
  height: 600px;
  margin-left: 20px;
  transform: translateY(-60%);
}

.kontak {
  margin-top: 50px;
}

.kontak-item {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  margin-top: 40px;
}

.icon-kontak img {
  width: 50px;
  height: 50px;
  margin-right: 24px;
}

.kontak-item a {
  font-size: 20px;
  text-decoration: none;
  color: #2e334e;
  width: 280px;
}

.form-control {
  border-radius: 8px;
  margin-top: 40px;
}

.form-floating {
  font-size: 15px;
  color: #3a3b41;
  font-weight: normal;
}

.button-kontak {
  width: 100%;
  height: 50px;
  background: #ae39ff;
  border: none;
  border-radius: 24px;
  font-style: normal;
  font-size: 15px;
  color: #ffff;
  margin-top: 40px;
  margin-bottom: 80px;
}

/* Slycing Footer */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #fafafa;
  color: #2e334e;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

footer .container .sec p {
  width: 70%;
  color: #2e334e;
  font-size: 20px;
  margin-top: 24px;
}

footer .container .sec h5 {
  position: relative;
  font-weight: 600;
  color: #1c2661;
}

.sec ul {
  list-style: none;
  padding: 0;
}

.sec ul li {
  margin-bottom: 10px;
}

.sec ul li a {
  text-decoration: none;
  color: #404040;
  display: flex;
  align-items: center;
}

ul li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

footer .container .sec p {
  margin-top: 30px;
  font-size: 15px;
}

.copyright {
  width: 100%;
  padding: 20px 100px;
  text-align: center;
  color: #404040;
  border-top: 1px solid #aaaaaa;
  background-color: #fafafa;
}
